{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Homepage</h1>
      <p>subtitle 1</p>
    </div>

    <img src="/static/images/house.jpg" height="800" width="1200" />
  </div>
</div>

{{ end }}
